<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">


<body>

<section th:fragment="copy"  class="newsletter section">

    <div class="newsletter__container container grid">
        <img th:src="@{~/img/pizza-slice.png}" alt="newsletter image" class="newsletter__img">

        <div class="newsletter__data">
            <span class="section__subtitle">Newsletter</span>
            <h2 class="section__title">
                Subscribe for <br>
                exclusive offers
            </h2>

            <form action="" class="newsletter__form">
                <input type="email" placeholder="Enter email" class="newsletter__input">

                <button class="button newsletter__button">
                    Subscribe <i class="fa-regular fa-paper-plane"></i>
                </button>
            </form>
        </div>
    </div>

</section>


</body>
</html>