<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<body>


<section th:fragment="copy" class="popular section" id="popular">

    <span class="section__subtitle">The Best Food</span>

    <h2 class="section__title">Popular Pizza</h2>

    <div class="popular__container container grid">

        <div class="popular__card">

            <img th:src="@{~/img/popular-pizza-1.png}" alt="popular image" class="popular__img">

            <div class="popular__content">

                <a href="" class="popular__button">
                    <i class="fa-solid fa-bag-shopping"></i>
                </a>

                <h3 class="popular__name">Margherita</h3>

                <p class="popular__description">
                    A classic pizza with tomato sauce,
                    fresh mozzarella, and basil.
                </p>

                <p class="popular__price">$12.99</p>
            </div>
        </div>

        <div class="popular__card">
            <img th:src="@{~/img/popular-pizza-2.png}" alt="popular image" class="popular__img">

            <div class="popular__content">
                <a href="" class="popular__button">
                    <i class="fa-solid fa-bag-shopping"></i>
                </a>

                <h3 class="popular__name">Pepperoni</h3>

                <p class="popular__description">
                    A traditional pizza topped with tomato sauce, mozzarella cheese.
                </p>

                <p class="popular__price">$14.99</p>
            </div>
        </div>

        <div class="popular__card">
            <img th:src="@{~/img/popular-pizza-3.png}" alt="popular image" class="popular__img">

            <div class="popular__content">
                <a href="" class="popular__button">
                    <i class="fa-solid fa-bag-shopping"></i>
                </a>

                <h3 class="popular__name">Meat Lovers</h3>

                <p class="popular__description">
                    A hearty pizza topped with tomato sauce, mozzarella cheese, pepperoni.
                </p>

                <p class="popular__price">$17.99</p>
            </div>
        </div>
    </div>

</section>


</body>
</html>