<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<body>

<section th:fragment="copy" class="recently section" id="recently">

    <div class="recently__container container grid">

        <div class="recently__data">
            <span class="section__subtitle">Recently Added</span>

            <h2 class="section__title">
                Buffalo <br>
                Chicken <br>
                pizza
            </h2>

            <p class="recently__description">
                Check out what's new and don't miss out
                on the opportunity to treat yourself
                to a delicious meal. Indulge in the
                experience and savor every bite.
            </p>

            <a href="" class="button">
                Order Now <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
        <img th:src="@{~/img/recently-pizza.jpg}" alt="recently image" class="recently__img">
    </div>
</section>
</body>
</html>